@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  html,
  body {
    overflow: auto;
    position: static;
  }
}

body {
  height: 100vh;
  min-height: 100vh;
  min-width: 320px;
  line-height: 1;
  overflow-x: hidden;
  word-wrap: break-word;
  background-color: #1f1a1a;
}

body::before {
  content: "";
  display: block;
  background-attachment: scroll;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1);
  width: 100vw;
  z-index: 0;
}

body::after {
  background-color: #f7f0f0;
  content: "";
  display: block;
  pointer-events: none;
  position: fixed;
  transform: scale(1);
  z-index: 1;
  height: 100%;
  left: 0;
  opacity: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}

html {
  font-size: 16pt;
}

@media (max-width: 1680px) {
  html {
    font-size: 12pt;
  }
}

.instagram svg {
  fill: url(#instagram-gradient);
}
